{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_01_02_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11341_REF'%}">F_01_02_REF_FINREP_3_0_11341_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11349_REF'%}">F_01_02_REF_FINREP_3_0_11349_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11332_REF'%}">F_01_02_REF_FINREP_3_0_11332_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11247_REF'%}">F_01_02_REF_FINREP_3_0_11247_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11243_REF'%}">F_01_02_REF_FINREP_3_0_11243_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11233_REF'%}">F_01_02_REF_FINREP_3_0_11233_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11249_REF'%}">F_01_02_REF_FINREP_3_0_11249_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11451_REF'%}">F_01_02_REF_FINREP_3_0_11451_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11447_REF'%}">F_01_02_REF_FINREP_3_0_11447_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11437_REF'%}">F_01_02_REF_FINREP_3_0_11437_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11453_REF'%}">F_01_02_REF_FINREP_3_0_11453_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11347_REF'%}">F_01_02_REF_FINREP_3_0_11347_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11343_REF'%}">F_01_02_REF_FINREP_3_0_11343_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_10907_REF'%}">F_01_02_REF_FINREP_3_0_10907_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_32592_REF'%}">F_01_02_REF_FINREP_3_0_32592_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_11345_REF'%}">F_01_02_REF_FINREP_3_0_11345_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45982_REF'%}">F_01_02_REF_FINREP_3_0_45982_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45981_REF'%}">F_01_02_REF_FINREP_3_0_45981_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45984_REF'%}">F_01_02_REF_FINREP_3_0_45984_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45980_REF'%}">F_01_02_REF_FINREP_3_0_45980_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45972_REF'%}">F_01_02_REF_FINREP_3_0_45972_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45983_REF'%}">F_01_02_REF_FINREP_3_0_45983_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45849_REF'%}">F_01_02_REF_FINREP_3_0_45849_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45846_REF'%}">F_01_02_REF_FINREP_3_0_45846_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45837_REF'%}">F_01_02_REF_FINREP_3_0_45837_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_45851_REF'%}">F_01_02_REF_FINREP_3_0_45851_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_113181_REF'%}">F_01_02_REF_FINREP_3_0_113181_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_113198_REF'%}">F_01_02_REF_FINREP_3_0_113198_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_113173_REF'%}">F_01_02_REF_FINREP_3_0_113173_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_113175_REF'%}">F_01_02_REF_FINREP_3_0_113175_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_113196_REF'%}">F_01_02_REF_FINREP_3_0_113196_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_113179_REF'%}">F_01_02_REF_FINREP_3_0_113179_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152671_REF'%}">F_01_02_REF_FINREP_3_0_152671_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152673_REF'%}">F_01_02_REF_FINREP_3_0_152673_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152679_REF'%}">F_01_02_REF_FINREP_3_0_152679_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152677_REF'%}">F_01_02_REF_FINREP_3_0_152677_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152675_REF'%}">F_01_02_REF_FINREP_3_0_152675_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152663_REF'%}">F_01_02_REF_FINREP_3_0_152663_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152669_REF'%}">F_01_02_REF_FINREP_3_0_152669_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_152670_REF'%}">F_01_02_REF_FINREP_3_0_152670_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_02_REF_FINREP_3_0_155640_REF'%}">F_01_02_REF_FINREP_3_0_155640_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
