{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_01_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_10976_REF'%}">F_01_01_REF_FINREP_3_0_10976_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_10974_REF'%}">F_01_01_REF_FINREP_3_0_10974_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_10972_REF'%}">F_01_01_REF_FINREP_3_0_10972_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_10978_REF'%}">F_01_01_REF_FINREP_3_0_10978_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_11802_REF'%}">F_01_01_REF_FINREP_3_0_11802_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_10903_REF'%}">F_01_01_REF_FINREP_3_0_10903_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_32354_REF'%}">F_01_01_REF_FINREP_3_0_32354_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_10898_REF'%}">F_01_01_REF_FINREP_3_0_10898_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45921_REF'%}">F_01_01_REF_FINREP_3_0_45921_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45920_REF'%}">F_01_01_REF_FINREP_3_0_45920_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45922_REF'%}">F_01_01_REF_FINREP_3_0_45922_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45919_REF'%}">F_01_01_REF_FINREP_3_0_45919_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45924_REF'%}">F_01_01_REF_FINREP_3_0_45924_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45749_REF'%}">F_01_01_REF_FINREP_3_0_45749_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45747_REF'%}">F_01_01_REF_FINREP_3_0_45747_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45746_REF'%}">F_01_01_REF_FINREP_3_0_45746_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_45750_REF'%}">F_01_01_REF_FINREP_3_0_45750_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_46023_REF'%}">F_01_01_REF_FINREP_3_0_46023_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_46022_REF'%}">F_01_01_REF_FINREP_3_0_46022_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_46026_REF'%}">F_01_01_REF_FINREP_3_0_46026_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_46025_REF'%}">F_01_01_REF_FINREP_3_0_46025_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_112718_REF'%}">F_01_01_REF_FINREP_3_0_112718_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113158_REF'%}">F_01_01_REF_FINREP_3_0_113158_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113153_REF'%}">F_01_01_REF_FINREP_3_0_113153_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113151_REF'%}">F_01_01_REF_FINREP_3_0_113151_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113160_REF'%}">F_01_01_REF_FINREP_3_0_113160_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113145_REF'%}">F_01_01_REF_FINREP_3_0_113145_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113147_REF'%}">F_01_01_REF_FINREP_3_0_113147_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_113143_REF'%}">F_01_01_REF_FINREP_3_0_113143_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_151111_REF'%}">F_01_01_REF_FINREP_3_0_151111_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_151115_REF'%}">F_01_01_REF_FINREP_3_0_151115_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152657_REF'%}">F_01_01_REF_FINREP_3_0_152657_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152736_REF'%}">F_01_01_REF_FINREP_3_0_152736_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152734_REF'%}">F_01_01_REF_FINREP_3_0_152734_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152732_REF'%}">F_01_01_REF_FINREP_3_0_152732_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152738_REF'%}">F_01_01_REF_FINREP_3_0_152738_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152877_REF'%}">F_01_01_REF_FINREP_3_0_152877_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152875_REF'%}">F_01_01_REF_FINREP_3_0_152875_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152873_REF'%}">F_01_01_REF_FINREP_3_0_152873_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152879_REF'%}">F_01_01_REF_FINREP_3_0_152879_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152251_REF'%}">F_01_01_REF_FINREP_3_0_152251_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152247_REF'%}">F_01_01_REF_FINREP_3_0_152247_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_152253_REF'%}">F_01_01_REF_FINREP_3_0_152253_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_01_01_REF_FINREP_3_0_155442_REF'%}">F_01_01_REF_FINREP_3_0_155442_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
