{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_04_02_1_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152710_REF'%}">F_04_02_1_REF_FINREP_3_0_152710_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152719_REF'%}">F_04_02_1_REF_FINREP_3_0_152719_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152716_REF'%}">F_04_02_1_REF_FINREP_3_0_152716_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152707_REF'%}">F_04_02_1_REF_FINREP_3_0_152707_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152712_REF'%}">F_04_02_1_REF_FINREP_3_0_152712_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152709_REF'%}">F_04_02_1_REF_FINREP_3_0_152709_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152718_REF'%}">F_04_02_1_REF_FINREP_3_0_152718_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152715_REF'%}">F_04_02_1_REF_FINREP_3_0_152715_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152708_REF'%}">F_04_02_1_REF_FINREP_3_0_152708_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152713_REF'%}">F_04_02_1_REF_FINREP_3_0_152713_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152711_REF'%}">F_04_02_1_REF_FINREP_3_0_152711_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152720_REF'%}">F_04_02_1_REF_FINREP_3_0_152720_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152717_REF'%}">F_04_02_1_REF_FINREP_3_0_152717_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_02_1_REF_FINREP_3_0_152714_REF'%}">F_04_02_1_REF_FINREP_3_0_152714_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
