{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_06_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152499_REF'%}">F_06_01_REF_FINREP_3_0_152499_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152503_REF'%}">F_06_01_REF_FINREP_3_0_152503_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152507_REF'%}">F_06_01_REF_FINREP_3_0_152507_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152511_REF'%}">F_06_01_REF_FINREP_3_0_152511_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152515_REF'%}">F_06_01_REF_FINREP_3_0_152515_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152519_REF'%}">F_06_01_REF_FINREP_3_0_152519_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152523_REF'%}">F_06_01_REF_FINREP_3_0_152523_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152527_REF'%}">F_06_01_REF_FINREP_3_0_152527_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152531_REF'%}">F_06_01_REF_FINREP_3_0_152531_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152535_REF'%}">F_06_01_REF_FINREP_3_0_152535_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152571_REF'%}">F_06_01_REF_FINREP_3_0_152571_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152539_REF'%}">F_06_01_REF_FINREP_3_0_152539_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152543_REF'%}">F_06_01_REF_FINREP_3_0_152543_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152547_REF'%}">F_06_01_REF_FINREP_3_0_152547_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152551_REF'%}">F_06_01_REF_FINREP_3_0_152551_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152555_REF'%}">F_06_01_REF_FINREP_3_0_152555_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152559_REF'%}">F_06_01_REF_FINREP_3_0_152559_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152563_REF'%}">F_06_01_REF_FINREP_3_0_152563_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152567_REF'%}">F_06_01_REF_FINREP_3_0_152567_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152498_REF'%}">F_06_01_REF_FINREP_3_0_152498_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150894_REF'%}">F_06_01_REF_FINREP_3_0_150894_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150858_REF'%}">F_06_01_REF_FINREP_3_0_150858_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150860_REF'%}">F_06_01_REF_FINREP_3_0_150860_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150862_REF'%}">F_06_01_REF_FINREP_3_0_150862_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150864_REF'%}">F_06_01_REF_FINREP_3_0_150864_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150866_REF'%}">F_06_01_REF_FINREP_3_0_150866_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150870_REF'%}">F_06_01_REF_FINREP_3_0_150870_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150868_REF'%}">F_06_01_REF_FINREP_3_0_150868_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150872_REF'%}">F_06_01_REF_FINREP_3_0_150872_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150874_REF'%}">F_06_01_REF_FINREP_3_0_150874_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150876_REF'%}">F_06_01_REF_FINREP_3_0_150876_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150878_REF'%}">F_06_01_REF_FINREP_3_0_150878_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150880_REF'%}">F_06_01_REF_FINREP_3_0_150880_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150882_REF'%}">F_06_01_REF_FINREP_3_0_150882_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150884_REF'%}">F_06_01_REF_FINREP_3_0_150884_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150886_REF'%}">F_06_01_REF_FINREP_3_0_150886_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150888_REF'%}">F_06_01_REF_FINREP_3_0_150888_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150890_REF'%}">F_06_01_REF_FINREP_3_0_150890_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150892_REF'%}">F_06_01_REF_FINREP_3_0_150892_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150857_REF'%}">F_06_01_REF_FINREP_3_0_150857_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152500_REF'%}">F_06_01_REF_FINREP_3_0_152500_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152504_REF'%}">F_06_01_REF_FINREP_3_0_152504_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152508_REF'%}">F_06_01_REF_FINREP_3_0_152508_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152512_REF'%}">F_06_01_REF_FINREP_3_0_152512_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152516_REF'%}">F_06_01_REF_FINREP_3_0_152516_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152520_REF'%}">F_06_01_REF_FINREP_3_0_152520_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152524_REF'%}">F_06_01_REF_FINREP_3_0_152524_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152528_REF'%}">F_06_01_REF_FINREP_3_0_152528_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152532_REF'%}">F_06_01_REF_FINREP_3_0_152532_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152536_REF'%}">F_06_01_REF_FINREP_3_0_152536_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152572_REF'%}">F_06_01_REF_FINREP_3_0_152572_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152540_REF'%}">F_06_01_REF_FINREP_3_0_152540_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152544_REF'%}">F_06_01_REF_FINREP_3_0_152544_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152548_REF'%}">F_06_01_REF_FINREP_3_0_152548_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152552_REF'%}">F_06_01_REF_FINREP_3_0_152552_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152556_REF'%}">F_06_01_REF_FINREP_3_0_152556_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152560_REF'%}">F_06_01_REF_FINREP_3_0_152560_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152564_REF'%}">F_06_01_REF_FINREP_3_0_152564_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152568_REF'%}">F_06_01_REF_FINREP_3_0_152568_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_152575_REF'%}">F_06_01_REF_FINREP_3_0_152575_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150982_REF'%}">F_06_01_REF_FINREP_3_0_150982_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150946_REF'%}">F_06_01_REF_FINREP_3_0_150946_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150948_REF'%}">F_06_01_REF_FINREP_3_0_150948_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150950_REF'%}">F_06_01_REF_FINREP_3_0_150950_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150952_REF'%}">F_06_01_REF_FINREP_3_0_150952_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150954_REF'%}">F_06_01_REF_FINREP_3_0_150954_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150956_REF'%}">F_06_01_REF_FINREP_3_0_150956_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150958_REF'%}">F_06_01_REF_FINREP_3_0_150958_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150960_REF'%}">F_06_01_REF_FINREP_3_0_150960_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150962_REF'%}">F_06_01_REF_FINREP_3_0_150962_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150964_REF'%}">F_06_01_REF_FINREP_3_0_150964_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150966_REF'%}">F_06_01_REF_FINREP_3_0_150966_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150970_REF'%}">F_06_01_REF_FINREP_3_0_150970_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150968_REF'%}">F_06_01_REF_FINREP_3_0_150968_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150972_REF'%}">F_06_01_REF_FINREP_3_0_150972_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150974_REF'%}">F_06_01_REF_FINREP_3_0_150974_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150976_REF'%}">F_06_01_REF_FINREP_3_0_150976_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150978_REF'%}">F_06_01_REF_FINREP_3_0_150978_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150980_REF'%}">F_06_01_REF_FINREP_3_0_150980_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_150945_REF'%}">F_06_01_REF_FINREP_3_0_150945_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429358_REF'%}">F_06_01_REF_FINREP_3_0_429358_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429357_REF'%}">F_06_01_REF_FINREP_3_0_429357_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429359_REF'%}">F_06_01_REF_FINREP_3_0_429359_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429360_REF'%}">F_06_01_REF_FINREP_3_0_429360_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429361_REF'%}">F_06_01_REF_FINREP_3_0_429361_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429362_REF'%}">F_06_01_REF_FINREP_3_0_429362_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429363_REF'%}">F_06_01_REF_FINREP_3_0_429363_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429364_REF'%}">F_06_01_REF_FINREP_3_0_429364_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429365_REF'%}">F_06_01_REF_FINREP_3_0_429365_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429366_REF'%}">F_06_01_REF_FINREP_3_0_429366_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429375_REF'%}">F_06_01_REF_FINREP_3_0_429375_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429367_REF'%}">F_06_01_REF_FINREP_3_0_429367_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429368_REF'%}">F_06_01_REF_FINREP_3_0_429368_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429369_REF'%}">F_06_01_REF_FINREP_3_0_429369_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429370_REF'%}">F_06_01_REF_FINREP_3_0_429370_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429371_REF'%}">F_06_01_REF_FINREP_3_0_429371_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429372_REF'%}">F_06_01_REF_FINREP_3_0_429372_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429373_REF'%}">F_06_01_REF_FINREP_3_0_429373_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429374_REF'%}">F_06_01_REF_FINREP_3_0_429374_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_06_01_REF_FINREP_3_0_429376_REF'%}">F_06_01_REF_FINREP_3_0_429376_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
