{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_08_01_a_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_31998_REF'%}">F_08_01_a_REF_FINREP_3_0_31998_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_32001_REF'%}">F_08_01_a_REF_FINREP_3_0_32001_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_31997_REF'%}">F_08_01_a_REF_FINREP_3_0_31997_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11330_REF'%}">F_08_01_a_REF_FINREP_3_0_11330_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11331_REF'%}">F_08_01_a_REF_FINREP_3_0_11331_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11287_REF'%}">F_08_01_a_REF_FINREP_3_0_11287_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11297_REF'%}">F_08_01_a_REF_FINREP_3_0_11297_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11292_REF'%}">F_08_01_a_REF_FINREP_3_0_11292_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_67327_REF'%}">F_08_01_a_REF_FINREP_3_0_67327_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11307_REF'%}">F_08_01_a_REF_FINREP_3_0_11307_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11302_REF'%}">F_08_01_a_REF_FINREP_3_0_11302_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151241_REF'%}">F_08_01_a_REF_FINREP_3_0_151241_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151238_REF'%}">F_08_01_a_REF_FINREP_3_0_151238_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151239_REF'%}">F_08_01_a_REF_FINREP_3_0_151239_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151240_REF'%}">F_08_01_a_REF_FINREP_3_0_151240_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151246_REF'%}">F_08_01_a_REF_FINREP_3_0_151246_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151249_REF'%}">F_08_01_a_REF_FINREP_3_0_151249_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151247_REF'%}">F_08_01_a_REF_FINREP_3_0_151247_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151248_REF'%}">F_08_01_a_REF_FINREP_3_0_151248_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151242_REF'%}">F_08_01_a_REF_FINREP_3_0_151242_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151245_REF'%}">F_08_01_a_REF_FINREP_3_0_151245_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151243_REF'%}">F_08_01_a_REF_FINREP_3_0_151243_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151244_REF'%}">F_08_01_a_REF_FINREP_3_0_151244_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151258_REF'%}">F_08_01_a_REF_FINREP_3_0_151258_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151261_REF'%}">F_08_01_a_REF_FINREP_3_0_151261_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151259_REF'%}">F_08_01_a_REF_FINREP_3_0_151259_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151260_REF'%}">F_08_01_a_REF_FINREP_3_0_151260_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151257_REF'%}">F_08_01_a_REF_FINREP_3_0_151257_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151254_REF'%}">F_08_01_a_REF_FINREP_3_0_151254_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151255_REF'%}">F_08_01_a_REF_FINREP_3_0_151255_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151256_REF'%}">F_08_01_a_REF_FINREP_3_0_151256_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151250_REF'%}">F_08_01_a_REF_FINREP_3_0_151250_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151253_REF'%}">F_08_01_a_REF_FINREP_3_0_151253_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151251_REF'%}">F_08_01_a_REF_FINREP_3_0_151251_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151252_REF'%}">F_08_01_a_REF_FINREP_3_0_151252_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151266_REF'%}">F_08_01_a_REF_FINREP_3_0_151266_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151265_REF'%}">F_08_01_a_REF_FINREP_3_0_151265_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151267_REF'%}">F_08_01_a_REF_FINREP_3_0_151267_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151268_REF'%}">F_08_01_a_REF_FINREP_3_0_151268_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151262_REF'%}">F_08_01_a_REF_FINREP_3_0_151262_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151263_REF'%}">F_08_01_a_REF_FINREP_3_0_151263_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151264_REF'%}">F_08_01_a_REF_FINREP_3_0_151264_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11195_REF'%}">F_08_01_a_REF_FINREP_3_0_11195_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11205_REF'%}">F_08_01_a_REF_FINREP_3_0_11205_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11200_REF'%}">F_08_01_a_REF_FINREP_3_0_11200_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_67317_REF'%}">F_08_01_a_REF_FINREP_3_0_67317_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11215_REF'%}">F_08_01_a_REF_FINREP_3_0_11215_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11210_REF'%}">F_08_01_a_REF_FINREP_3_0_11210_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151201_REF'%}">F_08_01_a_REF_FINREP_3_0_151201_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151202_REF'%}">F_08_01_a_REF_FINREP_3_0_151202_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151204_REF'%}">F_08_01_a_REF_FINREP_3_0_151204_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151203_REF'%}">F_08_01_a_REF_FINREP_3_0_151203_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151209_REF'%}">F_08_01_a_REF_FINREP_3_0_151209_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151212_REF'%}">F_08_01_a_REF_FINREP_3_0_151212_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151210_REF'%}">F_08_01_a_REF_FINREP_3_0_151210_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151211_REF'%}">F_08_01_a_REF_FINREP_3_0_151211_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151205_REF'%}">F_08_01_a_REF_FINREP_3_0_151205_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151208_REF'%}">F_08_01_a_REF_FINREP_3_0_151208_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151206_REF'%}">F_08_01_a_REF_FINREP_3_0_151206_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151207_REF'%}">F_08_01_a_REF_FINREP_3_0_151207_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151221_REF'%}">F_08_01_a_REF_FINREP_3_0_151221_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151224_REF'%}">F_08_01_a_REF_FINREP_3_0_151224_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151222_REF'%}">F_08_01_a_REF_FINREP_3_0_151222_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151223_REF'%}">F_08_01_a_REF_FINREP_3_0_151223_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151217_REF'%}">F_08_01_a_REF_FINREP_3_0_151217_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151218_REF'%}">F_08_01_a_REF_FINREP_3_0_151218_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151220_REF'%}">F_08_01_a_REF_FINREP_3_0_151220_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151219_REF'%}">F_08_01_a_REF_FINREP_3_0_151219_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151213_REF'%}">F_08_01_a_REF_FINREP_3_0_151213_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151216_REF'%}">F_08_01_a_REF_FINREP_3_0_151216_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151214_REF'%}">F_08_01_a_REF_FINREP_3_0_151214_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151215_REF'%}">F_08_01_a_REF_FINREP_3_0_151215_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151229_REF'%}">F_08_01_a_REF_FINREP_3_0_151229_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151228_REF'%}">F_08_01_a_REF_FINREP_3_0_151228_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151230_REF'%}">F_08_01_a_REF_FINREP_3_0_151230_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151231_REF'%}">F_08_01_a_REF_FINREP_3_0_151231_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151225_REF'%}">F_08_01_a_REF_FINREP_3_0_151225_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151226_REF'%}">F_08_01_a_REF_FINREP_3_0_151226_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151227_REF'%}">F_08_01_a_REF_FINREP_3_0_151227_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45971_REF'%}">F_08_01_a_REF_FINREP_3_0_45971_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45970_REF'%}">F_08_01_a_REF_FINREP_3_0_45970_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45928_REF'%}">F_08_01_a_REF_FINREP_3_0_45928_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45938_REF'%}">F_08_01_a_REF_FINREP_3_0_45938_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45933_REF'%}">F_08_01_a_REF_FINREP_3_0_45933_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_67594_REF'%}">F_08_01_a_REF_FINREP_3_0_67594_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45948_REF'%}">F_08_01_a_REF_FINREP_3_0_45948_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45943_REF'%}">F_08_01_a_REF_FINREP_3_0_45943_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151944_REF'%}">F_08_01_a_REF_FINREP_3_0_151944_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151947_REF'%}">F_08_01_a_REF_FINREP_3_0_151947_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151945_REF'%}">F_08_01_a_REF_FINREP_3_0_151945_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151952_REF'%}">F_08_01_a_REF_FINREP_3_0_151952_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151946_REF'%}">F_08_01_a_REF_FINREP_3_0_151946_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151955_REF'%}">F_08_01_a_REF_FINREP_3_0_151955_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151953_REF'%}">F_08_01_a_REF_FINREP_3_0_151953_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151954_REF'%}">F_08_01_a_REF_FINREP_3_0_151954_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151948_REF'%}">F_08_01_a_REF_FINREP_3_0_151948_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151951_REF'%}">F_08_01_a_REF_FINREP_3_0_151951_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151949_REF'%}">F_08_01_a_REF_FINREP_3_0_151949_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151950_REF'%}">F_08_01_a_REF_FINREP_3_0_151950_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151964_REF'%}">F_08_01_a_REF_FINREP_3_0_151964_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151967_REF'%}">F_08_01_a_REF_FINREP_3_0_151967_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151965_REF'%}">F_08_01_a_REF_FINREP_3_0_151965_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151966_REF'%}">F_08_01_a_REF_FINREP_3_0_151966_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151960_REF'%}">F_08_01_a_REF_FINREP_3_0_151960_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151963_REF'%}">F_08_01_a_REF_FINREP_3_0_151963_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151961_REF'%}">F_08_01_a_REF_FINREP_3_0_151961_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151956_REF'%}">F_08_01_a_REF_FINREP_3_0_151956_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151962_REF'%}">F_08_01_a_REF_FINREP_3_0_151962_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151959_REF'%}">F_08_01_a_REF_FINREP_3_0_151959_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151957_REF'%}">F_08_01_a_REF_FINREP_3_0_151957_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151958_REF'%}">F_08_01_a_REF_FINREP_3_0_151958_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151972_REF'%}">F_08_01_a_REF_FINREP_3_0_151972_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151971_REF'%}">F_08_01_a_REF_FINREP_3_0_151971_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151973_REF'%}">F_08_01_a_REF_FINREP_3_0_151973_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151974_REF'%}">F_08_01_a_REF_FINREP_3_0_151974_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151968_REF'%}">F_08_01_a_REF_FINREP_3_0_151968_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151969_REF'%}">F_08_01_a_REF_FINREP_3_0_151969_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151970_REF'%}">F_08_01_a_REF_FINREP_3_0_151970_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45797_REF'%}">F_08_01_a_REF_FINREP_3_0_45797_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45807_REF'%}">F_08_01_a_REF_FINREP_3_0_45807_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45802_REF'%}">F_08_01_a_REF_FINREP_3_0_45802_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_67584_REF'%}">F_08_01_a_REF_FINREP_3_0_67584_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45817_REF'%}">F_08_01_a_REF_FINREP_3_0_45817_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_45812_REF'%}">F_08_01_a_REF_FINREP_3_0_45812_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151814_REF'%}">F_08_01_a_REF_FINREP_3_0_151814_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151817_REF'%}">F_08_01_a_REF_FINREP_3_0_151817_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151815_REF'%}">F_08_01_a_REF_FINREP_3_0_151815_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151816_REF'%}">F_08_01_a_REF_FINREP_3_0_151816_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151825_REF'%}">F_08_01_a_REF_FINREP_3_0_151825_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151822_REF'%}">F_08_01_a_REF_FINREP_3_0_151822_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151823_REF'%}">F_08_01_a_REF_FINREP_3_0_151823_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151824_REF'%}">F_08_01_a_REF_FINREP_3_0_151824_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151818_REF'%}">F_08_01_a_REF_FINREP_3_0_151818_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151821_REF'%}">F_08_01_a_REF_FINREP_3_0_151821_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151819_REF'%}">F_08_01_a_REF_FINREP_3_0_151819_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151820_REF'%}">F_08_01_a_REF_FINREP_3_0_151820_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151834_REF'%}">F_08_01_a_REF_FINREP_3_0_151834_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151837_REF'%}">F_08_01_a_REF_FINREP_3_0_151837_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151835_REF'%}">F_08_01_a_REF_FINREP_3_0_151835_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151836_REF'%}">F_08_01_a_REF_FINREP_3_0_151836_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151830_REF'%}">F_08_01_a_REF_FINREP_3_0_151830_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151833_REF'%}">F_08_01_a_REF_FINREP_3_0_151833_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151831_REF'%}">F_08_01_a_REF_FINREP_3_0_151831_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151832_REF'%}">F_08_01_a_REF_FINREP_3_0_151832_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151829_REF'%}">F_08_01_a_REF_FINREP_3_0_151829_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151826_REF'%}">F_08_01_a_REF_FINREP_3_0_151826_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151827_REF'%}">F_08_01_a_REF_FINREP_3_0_151827_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151828_REF'%}">F_08_01_a_REF_FINREP_3_0_151828_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151842_REF'%}">F_08_01_a_REF_FINREP_3_0_151842_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151841_REF'%}">F_08_01_a_REF_FINREP_3_0_151841_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151843_REF'%}">F_08_01_a_REF_FINREP_3_0_151843_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151844_REF'%}">F_08_01_a_REF_FINREP_3_0_151844_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151838_REF'%}">F_08_01_a_REF_FINREP_3_0_151838_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151839_REF'%}">F_08_01_a_REF_FINREP_3_0_151839_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151840_REF'%}">F_08_01_a_REF_FINREP_3_0_151840_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_429269_REF'%}">F_08_01_a_REF_FINREP_3_0_429269_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11398_REF'%}">F_08_01_a_REF_FINREP_3_0_11398_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11408_REF'%}">F_08_01_a_REF_FINREP_3_0_11408_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_67332_REF'%}">F_08_01_a_REF_FINREP_3_0_67332_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11418_REF'%}">F_08_01_a_REF_FINREP_3_0_11418_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11413_REF'%}">F_08_01_a_REF_FINREP_3_0_11413_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_11403_REF'%}">F_08_01_a_REF_FINREP_3_0_11403_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151272_REF'%}">F_08_01_a_REF_FINREP_3_0_151272_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151275_REF'%}">F_08_01_a_REF_FINREP_3_0_151275_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151274_REF'%}">F_08_01_a_REF_FINREP_3_0_151274_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151273_REF'%}">F_08_01_a_REF_FINREP_3_0_151273_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151280_REF'%}">F_08_01_a_REF_FINREP_3_0_151280_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151283_REF'%}">F_08_01_a_REF_FINREP_3_0_151283_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151281_REF'%}">F_08_01_a_REF_FINREP_3_0_151281_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151282_REF'%}">F_08_01_a_REF_FINREP_3_0_151282_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151276_REF'%}">F_08_01_a_REF_FINREP_3_0_151276_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151279_REF'%}">F_08_01_a_REF_FINREP_3_0_151279_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151277_REF'%}">F_08_01_a_REF_FINREP_3_0_151277_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151278_REF'%}">F_08_01_a_REF_FINREP_3_0_151278_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151292_REF'%}">F_08_01_a_REF_FINREP_3_0_151292_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151295_REF'%}">F_08_01_a_REF_FINREP_3_0_151295_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151293_REF'%}">F_08_01_a_REF_FINREP_3_0_151293_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151294_REF'%}">F_08_01_a_REF_FINREP_3_0_151294_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151288_REF'%}">F_08_01_a_REF_FINREP_3_0_151288_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151291_REF'%}">F_08_01_a_REF_FINREP_3_0_151291_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151290_REF'%}">F_08_01_a_REF_FINREP_3_0_151290_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151289_REF'%}">F_08_01_a_REF_FINREP_3_0_151289_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151284_REF'%}">F_08_01_a_REF_FINREP_3_0_151284_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151287_REF'%}">F_08_01_a_REF_FINREP_3_0_151287_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151285_REF'%}">F_08_01_a_REF_FINREP_3_0_151285_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151286_REF'%}">F_08_01_a_REF_FINREP_3_0_151286_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151300_REF'%}">F_08_01_a_REF_FINREP_3_0_151300_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151299_REF'%}">F_08_01_a_REF_FINREP_3_0_151299_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151301_REF'%}">F_08_01_a_REF_FINREP_3_0_151301_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151302_REF'%}">F_08_01_a_REF_FINREP_3_0_151302_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151296_REF'%}">F_08_01_a_REF_FINREP_3_0_151296_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151297_REF'%}">F_08_01_a_REF_FINREP_3_0_151297_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_151298_REF'%}">F_08_01_a_REF_FINREP_3_0_151298_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_08_01_a_REF_FINREP_3_0_429243_REF'%}">F_08_01_a_REF_FINREP_3_0_429243_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
