{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_09_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155628_REF'%}">F_09_01_REF_FINREP_3_0_155628_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155482_REF'%}">F_09_01_REF_FINREP_3_0_155482_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155524_REF'%}">F_09_01_REF_FINREP_3_0_155524_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155503_REF'%}">F_09_01_REF_FINREP_3_0_155503_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155587_REF'%}">F_09_01_REF_FINREP_3_0_155587_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155566_REF'%}">F_09_01_REF_FINREP_3_0_155566_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155545_REF'%}">F_09_01_REF_FINREP_3_0_155545_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155624_REF'%}">F_09_01_REF_FINREP_3_0_155624_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155479_REF'%}">F_09_01_REF_FINREP_3_0_155479_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155521_REF'%}">F_09_01_REF_FINREP_3_0_155521_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155500_REF'%}">F_09_01_REF_FINREP_3_0_155500_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155584_REF'%}">F_09_01_REF_FINREP_3_0_155584_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155563_REF'%}">F_09_01_REF_FINREP_3_0_155563_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155542_REF'%}">F_09_01_REF_FINREP_3_0_155542_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155635_REF'%}">F_09_01_REF_FINREP_3_0_155635_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155485_REF'%}">F_09_01_REF_FINREP_3_0_155485_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155527_REF'%}">F_09_01_REF_FINREP_3_0_155527_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155506_REF'%}">F_09_01_REF_FINREP_3_0_155506_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155590_REF'%}">F_09_01_REF_FINREP_3_0_155590_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155569_REF'%}">F_09_01_REF_FINREP_3_0_155569_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155548_REF'%}">F_09_01_REF_FINREP_3_0_155548_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155629_REF'%}">F_09_01_REF_FINREP_3_0_155629_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155625_REF'%}">F_09_01_REF_FINREP_3_0_155625_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155636_REF'%}">F_09_01_REF_FINREP_3_0_155636_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155941_REF'%}">F_09_01_REF_FINREP_3_0_155941_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155942_REF'%}">F_09_01_REF_FINREP_3_0_155942_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155838_REF'%}">F_09_01_REF_FINREP_3_0_155838_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155868_REF'%}">F_09_01_REF_FINREP_3_0_155868_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155853_REF'%}">F_09_01_REF_FINREP_3_0_155853_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155913_REF'%}">F_09_01_REF_FINREP_3_0_155913_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155898_REF'%}">F_09_01_REF_FINREP_3_0_155898_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155883_REF'%}">F_09_01_REF_FINREP_3_0_155883_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155939_REF'%}">F_09_01_REF_FINREP_3_0_155939_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155940_REF'%}">F_09_01_REF_FINREP_3_0_155940_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155837_REF'%}">F_09_01_REF_FINREP_3_0_155837_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155867_REF'%}">F_09_01_REF_FINREP_3_0_155867_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155852_REF'%}">F_09_01_REF_FINREP_3_0_155852_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155912_REF'%}">F_09_01_REF_FINREP_3_0_155912_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155897_REF'%}">F_09_01_REF_FINREP_3_0_155897_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155882_REF'%}">F_09_01_REF_FINREP_3_0_155882_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155944_REF'%}">F_09_01_REF_FINREP_3_0_155944_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155943_REF'%}">F_09_01_REF_FINREP_3_0_155943_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155839_REF'%}">F_09_01_REF_FINREP_3_0_155839_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155869_REF'%}">F_09_01_REF_FINREP_3_0_155869_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155854_REF'%}">F_09_01_REF_FINREP_3_0_155854_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155914_REF'%}">F_09_01_REF_FINREP_3_0_155914_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155899_REF'%}">F_09_01_REF_FINREP_3_0_155899_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_01_REF_FINREP_3_0_155884_REF'%}">F_09_01_REF_FINREP_3_0_155884_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
