{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_09_02_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39664_REF'%}">F_09_02_REF_FINREP_3_0_39664_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39668_REF'%}">F_09_02_REF_FINREP_3_0_39668_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39666_REF'%}">F_09_02_REF_FINREP_3_0_39666_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_85144_REF'%}">F_09_02_REF_FINREP_3_0_85144_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39670_REF'%}">F_09_02_REF_FINREP_3_0_39670_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39677_REF'%}">F_09_02_REF_FINREP_3_0_39677_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39665_REF'%}">F_09_02_REF_FINREP_3_0_39665_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39669_REF'%}">F_09_02_REF_FINREP_3_0_39669_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39667_REF'%}">F_09_02_REF_FINREP_3_0_39667_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_85145_REF'%}">F_09_02_REF_FINREP_3_0_85145_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39673_REF'%}">F_09_02_REF_FINREP_3_0_39673_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39671_REF'%}">F_09_02_REF_FINREP_3_0_39671_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39676_REF'%}">F_09_02_REF_FINREP_3_0_39676_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_09_02_REF_FINREP_3_0_39672_REF'%}">F_09_02_REF_FINREP_3_0_39672_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
