{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_19_00_d_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_118996_REF'%}">F_19_00_d_REF_FINREP_3_0_118996_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_118997_REF'%}">F_19_00_d_REF_FINREP_3_0_118997_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_118998_REF'%}">F_19_00_d_REF_FINREP_3_0_118998_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_119003_REF'%}">F_19_00_d_REF_FINREP_3_0_119003_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_119000_REF'%}">F_19_00_d_REF_FINREP_3_0_119000_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_119002_REF'%}">F_19_00_d_REF_FINREP_3_0_119002_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_118993_REF'%}">F_19_00_d_REF_FINREP_3_0_118993_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_118994_REF'%}">F_19_00_d_REF_FINREP_3_0_118994_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_149627_REF'%}">F_19_00_d_REF_FINREP_3_0_149627_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_119001_REF'%}">F_19_00_d_REF_FINREP_3_0_119001_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_19_00_d_REF_FINREP_3_0_118999_REF'%}">F_19_00_d_REF_FINREP_3_0_118999_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
