{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_20_02_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11320_REF'%}">F_20_02_REF_FINREP_3_0_11320_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11323_REF'%}">F_20_02_REF_FINREP_3_0_11323_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11319_REF'%}">F_20_02_REF_FINREP_3_0_11319_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11318_REF'%}">F_20_02_REF_FINREP_3_0_11318_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11322_REF'%}">F_20_02_REF_FINREP_3_0_11322_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11227_REF'%}">F_20_02_REF_FINREP_3_0_11227_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11226_REF'%}">F_20_02_REF_FINREP_3_0_11226_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11225_REF'%}">F_20_02_REF_FINREP_3_0_11225_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11228_REF'%}">F_20_02_REF_FINREP_3_0_11228_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11431_REF'%}">F_20_02_REF_FINREP_3_0_11431_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11430_REF'%}">F_20_02_REF_FINREP_3_0_11430_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11429_REF'%}">F_20_02_REF_FINREP_3_0_11429_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11432_REF'%}">F_20_02_REF_FINREP_3_0_11432_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11483_REF'%}">F_20_02_REF_FINREP_3_0_11483_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_10905_REF'%}">F_20_02_REF_FINREP_3_0_10905_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_32577_REF'%}">F_20_02_REF_FINREP_3_0_32577_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11321_REF'%}">F_20_02_REF_FINREP_3_0_11321_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45961_REF'%}">F_20_02_REF_FINREP_3_0_45961_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45960_REF'%}">F_20_02_REF_FINREP_3_0_45960_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45963_REF'%}">F_20_02_REF_FINREP_3_0_45963_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45959_REF'%}">F_20_02_REF_FINREP_3_0_45959_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45958_REF'%}">F_20_02_REF_FINREP_3_0_45958_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45962_REF'%}">F_20_02_REF_FINREP_3_0_45962_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45829_REF'%}">F_20_02_REF_FINREP_3_0_45829_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45828_REF'%}">F_20_02_REF_FINREP_3_0_45828_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45827_REF'%}">F_20_02_REF_FINREP_3_0_45827_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45830_REF'%}">F_20_02_REF_FINREP_3_0_45830_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113165_REF'%}">F_20_02_REF_FINREP_3_0_113165_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113167_REF'%}">F_20_02_REF_FINREP_3_0_113167_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113166_REF'%}">F_20_02_REF_FINREP_3_0_113166_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113164_REF'%}">F_20_02_REF_FINREP_3_0_113164_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_152666_REF'%}">F_20_02_REF_FINREP_3_0_152666_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_155622_REF'%}">F_20_02_REF_FINREP_3_0_155622_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11326_REF'%}">F_20_02_REF_FINREP_3_0_11326_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11329_REF'%}">F_20_02_REF_FINREP_3_0_11329_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11325_REF'%}">F_20_02_REF_FINREP_3_0_11325_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11324_REF'%}">F_20_02_REF_FINREP_3_0_11324_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11328_REF'%}">F_20_02_REF_FINREP_3_0_11328_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11231_REF'%}">F_20_02_REF_FINREP_3_0_11231_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11229_REF'%}">F_20_02_REF_FINREP_3_0_11229_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11230_REF'%}">F_20_02_REF_FINREP_3_0_11230_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11232_REF'%}">F_20_02_REF_FINREP_3_0_11232_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11435_REF'%}">F_20_02_REF_FINREP_3_0_11435_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11434_REF'%}">F_20_02_REF_FINREP_3_0_11434_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11433_REF'%}">F_20_02_REF_FINREP_3_0_11433_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11436_REF'%}">F_20_02_REF_FINREP_3_0_11436_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11484_REF'%}">F_20_02_REF_FINREP_3_0_11484_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_10906_REF'%}">F_20_02_REF_FINREP_3_0_10906_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_32583_REF'%}">F_20_02_REF_FINREP_3_0_32583_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_11327_REF'%}">F_20_02_REF_FINREP_3_0_11327_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45967_REF'%}">F_20_02_REF_FINREP_3_0_45967_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45966_REF'%}">F_20_02_REF_FINREP_3_0_45966_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45969_REF'%}">F_20_02_REF_FINREP_3_0_45969_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45965_REF'%}">F_20_02_REF_FINREP_3_0_45965_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45964_REF'%}">F_20_02_REF_FINREP_3_0_45964_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45968_REF'%}">F_20_02_REF_FINREP_3_0_45968_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45833_REF'%}">F_20_02_REF_FINREP_3_0_45833_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45832_REF'%}">F_20_02_REF_FINREP_3_0_45832_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45831_REF'%}">F_20_02_REF_FINREP_3_0_45831_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_45834_REF'%}">F_20_02_REF_FINREP_3_0_45834_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113170_REF'%}">F_20_02_REF_FINREP_3_0_113170_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113172_REF'%}">F_20_02_REF_FINREP_3_0_113172_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113171_REF'%}">F_20_02_REF_FINREP_3_0_113171_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_113169_REF'%}">F_20_02_REF_FINREP_3_0_113169_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_152667_REF'%}">F_20_02_REF_FINREP_3_0_152667_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_02_REF_FINREP_3_0_155623_REF'%}">F_20_02_REF_FINREP_3_0_155623_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
