{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_20_06_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152171_REF'%}">F_20_06_REF_FINREP_3_0_152171_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152162_REF'%}">F_20_06_REF_FINREP_3_0_152162_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152168_REF'%}">F_20_06_REF_FINREP_3_0_152168_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152172_REF'%}">F_20_06_REF_FINREP_3_0_152172_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152163_REF'%}">F_20_06_REF_FINREP_3_0_152163_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152169_REF'%}">F_20_06_REF_FINREP_3_0_152169_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152170_REF'%}">F_20_06_REF_FINREP_3_0_152170_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152160_REF'%}">F_20_06_REF_FINREP_3_0_152160_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152164_REF'%}">F_20_06_REF_FINREP_3_0_152164_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152161_REF'%}">F_20_06_REF_FINREP_3_0_152161_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152167_REF'%}">F_20_06_REF_FINREP_3_0_152167_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152166_REF'%}">F_20_06_REF_FINREP_3_0_152166_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_06_REF_FINREP_3_0_152165_REF'%}">F_20_06_REF_FINREP_3_0_152165_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
