{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_20_04_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150899_REF'%}">F_20_04_REF_FINREP_3_0_150899_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150845_REF'%}">F_20_04_REF_FINREP_3_0_150845_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150849_REF'%}">F_20_04_REF_FINREP_3_0_150849_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150847_REF'%}">F_20_04_REF_FINREP_3_0_150847_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150897_REF'%}">F_20_04_REF_FINREP_3_0_150897_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150856_REF'%}">F_20_04_REF_FINREP_3_0_150856_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150900_REF'%}">F_20_04_REF_FINREP_3_0_150900_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150846_REF'%}">F_20_04_REF_FINREP_3_0_150846_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150850_REF'%}">F_20_04_REF_FINREP_3_0_150850_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150848_REF'%}">F_20_04_REF_FINREP_3_0_150848_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150898_REF'%}">F_20_04_REF_FINREP_3_0_150898_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150896_REF'%}">F_20_04_REF_FINREP_3_0_150896_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150854_REF'%}">F_20_04_REF_FINREP_3_0_150854_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150855_REF'%}">F_20_04_REF_FINREP_3_0_150855_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150853_REF'%}">F_20_04_REF_FINREP_3_0_150853_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_150852_REF'%}">F_20_04_REF_FINREP_3_0_150852_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_434225_REF'%}">F_20_04_REF_FINREP_3_0_434225_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_441756_REF'%}">F_20_04_REF_FINREP_3_0_441756_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_67802_REF'%}">F_20_04_REF_FINREP_3_0_67802_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112806_REF'%}">F_20_04_REF_FINREP_3_0_112806_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112764_REF'%}">F_20_04_REF_FINREP_3_0_112764_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112798_REF'%}">F_20_04_REF_FINREP_3_0_112798_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112807_REF'%}">F_20_04_REF_FINREP_3_0_112807_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112765_REF'%}">F_20_04_REF_FINREP_3_0_112765_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112799_REF'%}">F_20_04_REF_FINREP_3_0_112799_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112793_REF'%}">F_20_04_REF_FINREP_3_0_112793_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112805_REF'%}">F_20_04_REF_FINREP_3_0_112805_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112757_REF'%}">F_20_04_REF_FINREP_3_0_112757_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112771_REF'%}">F_20_04_REF_FINREP_3_0_112771_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112763_REF'%}">F_20_04_REF_FINREP_3_0_112763_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112797_REF'%}">F_20_04_REF_FINREP_3_0_112797_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112792_REF'%}">F_20_04_REF_FINREP_3_0_112792_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112809_REF'%}">F_20_04_REF_FINREP_3_0_112809_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112759_REF'%}">F_20_04_REF_FINREP_3_0_112759_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112773_REF'%}">F_20_04_REF_FINREP_3_0_112773_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112767_REF'%}">F_20_04_REF_FINREP_3_0_112767_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112801_REF'%}">F_20_04_REF_FINREP_3_0_112801_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112785_REF'%}">F_20_04_REF_FINREP_3_0_112785_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112790_REF'%}">F_20_04_REF_FINREP_3_0_112790_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112782_REF'%}">F_20_04_REF_FINREP_3_0_112782_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_112781_REF'%}">F_20_04_REF_FINREP_3_0_112781_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_434228_REF'%}">F_20_04_REF_FINREP_3_0_434228_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_441778_REF'%}">F_20_04_REF_FINREP_3_0_441778_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152594_REF'%}">F_20_04_REF_FINREP_3_0_152594_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152475_REF'%}">F_20_04_REF_FINREP_3_0_152475_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152483_REF'%}">F_20_04_REF_FINREP_3_0_152483_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152479_REF'%}">F_20_04_REF_FINREP_3_0_152479_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152580_REF'%}">F_20_04_REF_FINREP_3_0_152580_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152497_REF'%}">F_20_04_REF_FINREP_3_0_152497_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152599_REF'%}">F_20_04_REF_FINREP_3_0_152599_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152476_REF'%}">F_20_04_REF_FINREP_3_0_152476_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152484_REF'%}">F_20_04_REF_FINREP_3_0_152484_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152480_REF'%}">F_20_04_REF_FINREP_3_0_152480_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152581_REF'%}">F_20_04_REF_FINREP_3_0_152581_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152576_REF'%}">F_20_04_REF_FINREP_3_0_152576_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152492_REF'%}">F_20_04_REF_FINREP_3_0_152492_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152496_REF'%}">F_20_04_REF_FINREP_3_0_152496_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152490_REF'%}">F_20_04_REF_FINREP_3_0_152490_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152489_REF'%}">F_20_04_REF_FINREP_3_0_152489_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_434232_REF'%}">F_20_04_REF_FINREP_3_0_434232_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_441812_REF'%}">F_20_04_REF_FINREP_3_0_441812_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152582_REF'%}">F_20_04_REF_FINREP_3_0_152582_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152473_REF'%}">F_20_04_REF_FINREP_3_0_152473_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152481_REF'%}">F_20_04_REF_FINREP_3_0_152481_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152477_REF'%}">F_20_04_REF_FINREP_3_0_152477_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152578_REF'%}">F_20_04_REF_FINREP_3_0_152578_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152494_REF'%}">F_20_04_REF_FINREP_3_0_152494_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152583_REF'%}">F_20_04_REF_FINREP_3_0_152583_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152474_REF'%}">F_20_04_REF_FINREP_3_0_152474_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152482_REF'%}">F_20_04_REF_FINREP_3_0_152482_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152478_REF'%}">F_20_04_REF_FINREP_3_0_152478_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152579_REF'%}">F_20_04_REF_FINREP_3_0_152579_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152495_REF'%}">F_20_04_REF_FINREP_3_0_152495_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152491_REF'%}">F_20_04_REF_FINREP_3_0_152491_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152493_REF'%}">F_20_04_REF_FINREP_3_0_152493_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152487_REF'%}">F_20_04_REF_FINREP_3_0_152487_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_152486_REF'%}">F_20_04_REF_FINREP_3_0_152486_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_434230_REF'%}">F_20_04_REF_FINREP_3_0_434230_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_441810_REF'%}">F_20_04_REF_FINREP_3_0_441810_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151070_REF'%}">F_20_04_REF_FINREP_3_0_151070_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151052_REF'%}">F_20_04_REF_FINREP_3_0_151052_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151066_REF'%}">F_20_04_REF_FINREP_3_0_151066_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151071_REF'%}">F_20_04_REF_FINREP_3_0_151071_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151053_REF'%}">F_20_04_REF_FINREP_3_0_151053_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151067_REF'%}">F_20_04_REF_FINREP_3_0_151067_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151063_REF'%}">F_20_04_REF_FINREP_3_0_151063_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151069_REF'%}">F_20_04_REF_FINREP_3_0_151069_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151049_REF'%}">F_20_04_REF_FINREP_3_0_151049_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151055_REF'%}">F_20_04_REF_FINREP_3_0_151055_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151051_REF'%}">F_20_04_REF_FINREP_3_0_151051_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151065_REF'%}">F_20_04_REF_FINREP_3_0_151065_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151062_REF'%}">F_20_04_REF_FINREP_3_0_151062_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151072_REF'%}">F_20_04_REF_FINREP_3_0_151072_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151050_REF'%}">F_20_04_REF_FINREP_3_0_151050_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151056_REF'%}">F_20_04_REF_FINREP_3_0_151056_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151054_REF'%}">F_20_04_REF_FINREP_3_0_151054_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151068_REF'%}">F_20_04_REF_FINREP_3_0_151068_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151064_REF'%}">F_20_04_REF_FINREP_3_0_151064_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151060_REF'%}">F_20_04_REF_FINREP_3_0_151060_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151061_REF'%}">F_20_04_REF_FINREP_3_0_151061_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151059_REF'%}">F_20_04_REF_FINREP_3_0_151059_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_151058_REF'%}">F_20_04_REF_FINREP_3_0_151058_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_434227_REF'%}">F_20_04_REF_FINREP_3_0_434227_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_441757_REF'%}">F_20_04_REF_FINREP_3_0_441757_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442063_REF'%}">F_20_04_REF_FINREP_3_0_442063_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442044_REF'%}">F_20_04_REF_FINREP_3_0_442044_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442058_REF'%}">F_20_04_REF_FINREP_3_0_442058_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442064_REF'%}">F_20_04_REF_FINREP_3_0_442064_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442045_REF'%}">F_20_04_REF_FINREP_3_0_442045_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442059_REF'%}">F_20_04_REF_FINREP_3_0_442059_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442055_REF'%}">F_20_04_REF_FINREP_3_0_442055_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442062_REF'%}">F_20_04_REF_FINREP_3_0_442062_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442041_REF'%}">F_20_04_REF_FINREP_3_0_442041_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442047_REF'%}">F_20_04_REF_FINREP_3_0_442047_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442043_REF'%}">F_20_04_REF_FINREP_3_0_442043_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442057_REF'%}">F_20_04_REF_FINREP_3_0_442057_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442054_REF'%}">F_20_04_REF_FINREP_3_0_442054_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442065_REF'%}">F_20_04_REF_FINREP_3_0_442065_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442042_REF'%}">F_20_04_REF_FINREP_3_0_442042_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442048_REF'%}">F_20_04_REF_FINREP_3_0_442048_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442046_REF'%}">F_20_04_REF_FINREP_3_0_442046_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442060_REF'%}">F_20_04_REF_FINREP_3_0_442060_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442056_REF'%}">F_20_04_REF_FINREP_3_0_442056_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442052_REF'%}">F_20_04_REF_FINREP_3_0_442052_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442053_REF'%}">F_20_04_REF_FINREP_3_0_442053_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442051_REF'%}">F_20_04_REF_FINREP_3_0_442051_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442049_REF'%}">F_20_04_REF_FINREP_3_0_442049_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442050_REF'%}">F_20_04_REF_FINREP_3_0_442050_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_442061_REF'%}">F_20_04_REF_FINREP_3_0_442061_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429411_REF'%}">F_20_04_REF_FINREP_3_0_429411_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429285_REF'%}">F_20_04_REF_FINREP_3_0_429285_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429289_REF'%}">F_20_04_REF_FINREP_3_0_429289_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429287_REF'%}">F_20_04_REF_FINREP_3_0_429287_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429378_REF'%}">F_20_04_REF_FINREP_3_0_429378_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429356_REF'%}">F_20_04_REF_FINREP_3_0_429356_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429412_REF'%}">F_20_04_REF_FINREP_3_0_429412_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429286_REF'%}">F_20_04_REF_FINREP_3_0_429286_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429290_REF'%}">F_20_04_REF_FINREP_3_0_429290_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429288_REF'%}">F_20_04_REF_FINREP_3_0_429288_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429379_REF'%}">F_20_04_REF_FINREP_3_0_429379_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429377_REF'%}">F_20_04_REF_FINREP_3_0_429377_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429324_REF'%}">F_20_04_REF_FINREP_3_0_429324_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429355_REF'%}">F_20_04_REF_FINREP_3_0_429355_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429323_REF'%}">F_20_04_REF_FINREP_3_0_429323_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_429322_REF'%}">F_20_04_REF_FINREP_3_0_429322_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_434231_REF'%}">F_20_04_REF_FINREP_3_0_434231_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_04_REF_FINREP_3_0_441811_REF'%}">F_20_04_REF_FINREP_3_0_441811_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
