{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_20_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11098_REF'%}">F_20_01_REF_FINREP_3_0_11098_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11097_REF'%}">F_20_01_REF_FINREP_3_0_11097_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11099_REF'%}">F_20_01_REF_FINREP_3_0_11099_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11100_REF'%}">F_20_01_REF_FINREP_3_0_11100_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11096_REF'%}">F_20_01_REF_FINREP_3_0_11096_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10966_REF'%}">F_20_01_REF_FINREP_3_0_10966_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10965_REF'%}">F_20_01_REF_FINREP_3_0_10965_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10964_REF'%}">F_20_01_REF_FINREP_3_0_10964_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10967_REF'%}">F_20_01_REF_FINREP_3_0_10967_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11476_REF'%}">F_20_01_REF_FINREP_3_0_11476_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11800_REF'%}">F_20_01_REF_FINREP_3_0_11800_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10901_REF'%}">F_20_01_REF_FINREP_3_0_10901_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_32340_REF'%}">F_20_01_REF_FINREP_3_0_32340_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10896_REF'%}">F_20_01_REF_FINREP_3_0_10896_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45911_REF'%}">F_20_01_REF_FINREP_3_0_45911_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45910_REF'%}">F_20_01_REF_FINREP_3_0_45910_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45912_REF'%}">F_20_01_REF_FINREP_3_0_45912_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45909_REF'%}">F_20_01_REF_FINREP_3_0_45909_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45913_REF'%}">F_20_01_REF_FINREP_3_0_45913_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45684_REF'%}">F_20_01_REF_FINREP_3_0_45684_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45683_REF'%}">F_20_01_REF_FINREP_3_0_45683_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45682_REF'%}">F_20_01_REF_FINREP_3_0_45682_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45685_REF'%}">F_20_01_REF_FINREP_3_0_45685_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45740_REF'%}">F_20_01_REF_FINREP_3_0_45740_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45739_REF'%}">F_20_01_REF_FINREP_3_0_45739_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45738_REF'%}">F_20_01_REF_FINREP_3_0_45738_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45741_REF'%}">F_20_01_REF_FINREP_3_0_45741_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46016_REF'%}">F_20_01_REF_FINREP_3_0_46016_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46015_REF'%}">F_20_01_REF_FINREP_3_0_46015_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46014_REF'%}">F_20_01_REF_FINREP_3_0_46014_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46017_REF'%}">F_20_01_REF_FINREP_3_0_46017_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_112716_REF'%}">F_20_01_REF_FINREP_3_0_112716_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113136_REF'%}">F_20_01_REF_FINREP_3_0_113136_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113135_REF'%}">F_20_01_REF_FINREP_3_0_113135_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113137_REF'%}">F_20_01_REF_FINREP_3_0_113137_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113133_REF'%}">F_20_01_REF_FINREP_3_0_113133_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_151109_REF'%}">F_20_01_REF_FINREP_3_0_151109_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152658_REF'%}">F_20_01_REF_FINREP_3_0_152658_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152723_REF'%}">F_20_01_REF_FINREP_3_0_152723_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152722_REF'%}">F_20_01_REF_FINREP_3_0_152722_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152721_REF'%}">F_20_01_REF_FINREP_3_0_152721_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152724_REF'%}">F_20_01_REF_FINREP_3_0_152724_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152852_REF'%}">F_20_01_REF_FINREP_3_0_152852_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152851_REF'%}">F_20_01_REF_FINREP_3_0_152851_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152850_REF'%}">F_20_01_REF_FINREP_3_0_152850_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152226_REF'%}">F_20_01_REF_FINREP_3_0_152226_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152853_REF'%}">F_20_01_REF_FINREP_3_0_152853_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152228_REF'%}">F_20_01_REF_FINREP_3_0_152228_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_155440_REF'%}">F_20_01_REF_FINREP_3_0_155440_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234328_REF'%}">F_20_01_REF_FINREP_3_0_234328_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234416_REF'%}">F_20_01_REF_FINREP_3_0_234416_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234417_REF'%}">F_20_01_REF_FINREP_3_0_234417_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234583_REF'%}">F_20_01_REF_FINREP_3_0_234583_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234415_REF'%}">F_20_01_REF_FINREP_3_0_234415_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234414_REF'%}">F_20_01_REF_FINREP_3_0_234414_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11103_REF'%}">F_20_01_REF_FINREP_3_0_11103_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11102_REF'%}">F_20_01_REF_FINREP_3_0_11102_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11104_REF'%}">F_20_01_REF_FINREP_3_0_11104_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11101_REF'%}">F_20_01_REF_FINREP_3_0_11101_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11105_REF'%}">F_20_01_REF_FINREP_3_0_11105_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10970_REF'%}">F_20_01_REF_FINREP_3_0_10970_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10969_REF'%}">F_20_01_REF_FINREP_3_0_10969_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10968_REF'%}">F_20_01_REF_FINREP_3_0_10968_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10971_REF'%}">F_20_01_REF_FINREP_3_0_10971_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11477_REF'%}">F_20_01_REF_FINREP_3_0_11477_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_11801_REF'%}">F_20_01_REF_FINREP_3_0_11801_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10902_REF'%}">F_20_01_REF_FINREP_3_0_10902_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_32347_REF'%}">F_20_01_REF_FINREP_3_0_32347_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_10897_REF'%}">F_20_01_REF_FINREP_3_0_10897_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45916_REF'%}">F_20_01_REF_FINREP_3_0_45916_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45915_REF'%}">F_20_01_REF_FINREP_3_0_45915_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45917_REF'%}">F_20_01_REF_FINREP_3_0_45917_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45914_REF'%}">F_20_01_REF_FINREP_3_0_45914_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45918_REF'%}">F_20_01_REF_FINREP_3_0_45918_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45688_REF'%}">F_20_01_REF_FINREP_3_0_45688_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45687_REF'%}">F_20_01_REF_FINREP_3_0_45687_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45686_REF'%}">F_20_01_REF_FINREP_3_0_45686_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45689_REF'%}">F_20_01_REF_FINREP_3_0_45689_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45744_REF'%}">F_20_01_REF_FINREP_3_0_45744_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45743_REF'%}">F_20_01_REF_FINREP_3_0_45743_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45742_REF'%}">F_20_01_REF_FINREP_3_0_45742_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_45745_REF'%}">F_20_01_REF_FINREP_3_0_45745_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46020_REF'%}">F_20_01_REF_FINREP_3_0_46020_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46019_REF'%}">F_20_01_REF_FINREP_3_0_46019_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46018_REF'%}">F_20_01_REF_FINREP_3_0_46018_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_46021_REF'%}">F_20_01_REF_FINREP_3_0_46021_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_112717_REF'%}">F_20_01_REF_FINREP_3_0_112717_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113141_REF'%}">F_20_01_REF_FINREP_3_0_113141_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113140_REF'%}">F_20_01_REF_FINREP_3_0_113140_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113142_REF'%}">F_20_01_REF_FINREP_3_0_113142_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_113138_REF'%}">F_20_01_REF_FINREP_3_0_113138_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_151110_REF'%}">F_20_01_REF_FINREP_3_0_151110_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152659_REF'%}">F_20_01_REF_FINREP_3_0_152659_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152727_REF'%}">F_20_01_REF_FINREP_3_0_152727_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152726_REF'%}">F_20_01_REF_FINREP_3_0_152726_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152725_REF'%}">F_20_01_REF_FINREP_3_0_152725_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152728_REF'%}">F_20_01_REF_FINREP_3_0_152728_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152856_REF'%}">F_20_01_REF_FINREP_3_0_152856_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152855_REF'%}">F_20_01_REF_FINREP_3_0_152855_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152854_REF'%}">F_20_01_REF_FINREP_3_0_152854_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152857_REF'%}">F_20_01_REF_FINREP_3_0_152857_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152229_REF'%}">F_20_01_REF_FINREP_3_0_152229_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_152231_REF'%}">F_20_01_REF_FINREP_3_0_152231_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_155441_REF'%}">F_20_01_REF_FINREP_3_0_155441_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234329_REF'%}">F_20_01_REF_FINREP_3_0_234329_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234420_REF'%}">F_20_01_REF_FINREP_3_0_234420_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234421_REF'%}">F_20_01_REF_FINREP_3_0_234421_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234584_REF'%}">F_20_01_REF_FINREP_3_0_234584_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234419_REF'%}">F_20_01_REF_FINREP_3_0_234419_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_01_REF_FINREP_3_0_234418_REF'%}">F_20_01_REF_FINREP_3_0_234418_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
