{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_20_05_a_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_39711_REF'%}">F_20_05_a_REF_FINREP_3_0_39711_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_39728_REF'%}">F_20_05_a_REF_FINREP_3_0_39728_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_39714_REF'%}">F_20_05_a_REF_FINREP_3_0_39714_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_110962_REF'%}">F_20_05_a_REF_FINREP_3_0_110962_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_110972_REF'%}">F_20_05_a_REF_FINREP_3_0_110972_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_110970_REF'%}">F_20_05_a_REF_FINREP_3_0_110970_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_110977_REF'%}">F_20_05_a_REF_FINREP_3_0_110977_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_433972_REF'%}">F_20_05_a_REF_FINREP_3_0_433972_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_433970_REF'%}">F_20_05_a_REF_FINREP_3_0_433970_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_05_a_REF_FINREP_3_0_433975_REF'%}">F_20_05_a_REF_FINREP_3_0_433975_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
