{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_20_07_1_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150859_REF'%}">F_20_07_1_REF_FINREP_3_0_150859_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150861_REF'%}">F_20_07_1_REF_FINREP_3_0_150861_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150863_REF'%}">F_20_07_1_REF_FINREP_3_0_150863_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150865_REF'%}">F_20_07_1_REF_FINREP_3_0_150865_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150867_REF'%}">F_20_07_1_REF_FINREP_3_0_150867_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150869_REF'%}">F_20_07_1_REF_FINREP_3_0_150869_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150871_REF'%}">F_20_07_1_REF_FINREP_3_0_150871_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150873_REF'%}">F_20_07_1_REF_FINREP_3_0_150873_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150875_REF'%}">F_20_07_1_REF_FINREP_3_0_150875_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150877_REF'%}">F_20_07_1_REF_FINREP_3_0_150877_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150879_REF'%}">F_20_07_1_REF_FINREP_3_0_150879_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150881_REF'%}">F_20_07_1_REF_FINREP_3_0_150881_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150883_REF'%}">F_20_07_1_REF_FINREP_3_0_150883_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150885_REF'%}">F_20_07_1_REF_FINREP_3_0_150885_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150887_REF'%}">F_20_07_1_REF_FINREP_3_0_150887_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150889_REF'%}">F_20_07_1_REF_FINREP_3_0_150889_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150891_REF'%}">F_20_07_1_REF_FINREP_3_0_150891_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150893_REF'%}">F_20_07_1_REF_FINREP_3_0_150893_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150895_REF'%}">F_20_07_1_REF_FINREP_3_0_150895_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152502_REF'%}">F_20_07_1_REF_FINREP_3_0_152502_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152506_REF'%}">F_20_07_1_REF_FINREP_3_0_152506_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152510_REF'%}">F_20_07_1_REF_FINREP_3_0_152510_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152514_REF'%}">F_20_07_1_REF_FINREP_3_0_152514_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152518_REF'%}">F_20_07_1_REF_FINREP_3_0_152518_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152522_REF'%}">F_20_07_1_REF_FINREP_3_0_152522_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152526_REF'%}">F_20_07_1_REF_FINREP_3_0_152526_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152530_REF'%}">F_20_07_1_REF_FINREP_3_0_152530_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152534_REF'%}">F_20_07_1_REF_FINREP_3_0_152534_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152538_REF'%}">F_20_07_1_REF_FINREP_3_0_152538_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152542_REF'%}">F_20_07_1_REF_FINREP_3_0_152542_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152546_REF'%}">F_20_07_1_REF_FINREP_3_0_152546_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152550_REF'%}">F_20_07_1_REF_FINREP_3_0_152550_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152554_REF'%}">F_20_07_1_REF_FINREP_3_0_152554_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152558_REF'%}">F_20_07_1_REF_FINREP_3_0_152558_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152562_REF'%}">F_20_07_1_REF_FINREP_3_0_152562_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152566_REF'%}">F_20_07_1_REF_FINREP_3_0_152566_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152570_REF'%}">F_20_07_1_REF_FINREP_3_0_152570_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152577_REF'%}">F_20_07_1_REF_FINREP_3_0_152577_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152574_REF'%}">F_20_07_1_REF_FINREP_3_0_152574_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150984_REF'%}">F_20_07_1_REF_FINREP_3_0_150984_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150947_REF'%}">F_20_07_1_REF_FINREP_3_0_150947_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150949_REF'%}">F_20_07_1_REF_FINREP_3_0_150949_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150951_REF'%}">F_20_07_1_REF_FINREP_3_0_150951_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150953_REF'%}">F_20_07_1_REF_FINREP_3_0_150953_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150955_REF'%}">F_20_07_1_REF_FINREP_3_0_150955_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150957_REF'%}">F_20_07_1_REF_FINREP_3_0_150957_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150959_REF'%}">F_20_07_1_REF_FINREP_3_0_150959_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150961_REF'%}">F_20_07_1_REF_FINREP_3_0_150961_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150963_REF'%}">F_20_07_1_REF_FINREP_3_0_150963_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150965_REF'%}">F_20_07_1_REF_FINREP_3_0_150965_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150967_REF'%}">F_20_07_1_REF_FINREP_3_0_150967_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150969_REF'%}">F_20_07_1_REF_FINREP_3_0_150969_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150971_REF'%}">F_20_07_1_REF_FINREP_3_0_150971_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150973_REF'%}">F_20_07_1_REF_FINREP_3_0_150973_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150975_REF'%}">F_20_07_1_REF_FINREP_3_0_150975_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150977_REF'%}">F_20_07_1_REF_FINREP_3_0_150977_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150979_REF'%}">F_20_07_1_REF_FINREP_3_0_150979_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150981_REF'%}">F_20_07_1_REF_FINREP_3_0_150981_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_150983_REF'%}">F_20_07_1_REF_FINREP_3_0_150983_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152501_REF'%}">F_20_07_1_REF_FINREP_3_0_152501_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152505_REF'%}">F_20_07_1_REF_FINREP_3_0_152505_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152509_REF'%}">F_20_07_1_REF_FINREP_3_0_152509_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152513_REF'%}">F_20_07_1_REF_FINREP_3_0_152513_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152517_REF'%}">F_20_07_1_REF_FINREP_3_0_152517_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152521_REF'%}">F_20_07_1_REF_FINREP_3_0_152521_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152525_REF'%}">F_20_07_1_REF_FINREP_3_0_152525_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152529_REF'%}">F_20_07_1_REF_FINREP_3_0_152529_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152533_REF'%}">F_20_07_1_REF_FINREP_3_0_152533_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152537_REF'%}">F_20_07_1_REF_FINREP_3_0_152537_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152541_REF'%}">F_20_07_1_REF_FINREP_3_0_152541_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152545_REF'%}">F_20_07_1_REF_FINREP_3_0_152545_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152549_REF'%}">F_20_07_1_REF_FINREP_3_0_152549_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152553_REF'%}">F_20_07_1_REF_FINREP_3_0_152553_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152557_REF'%}">F_20_07_1_REF_FINREP_3_0_152557_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152561_REF'%}">F_20_07_1_REF_FINREP_3_0_152561_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152565_REF'%}">F_20_07_1_REF_FINREP_3_0_152565_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152569_REF'%}">F_20_07_1_REF_FINREP_3_0_152569_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_20_07_1_REF_FINREP_3_0_152573_REF'%}">F_20_07_1_REF_FINREP_3_0_152573_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
