{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_21_00_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11931_REF'%}">F_21_00_REF_FINREP_3_0_11931_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11934_REF'%}">F_21_00_REF_FINREP_3_0_11934_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11777_REF'%}">F_21_00_REF_FINREP_3_0_11777_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11788_REF'%}">F_21_00_REF_FINREP_3_0_11788_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11785_REF'%}">F_21_00_REF_FINREP_3_0_11785_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11919_REF'%}">F_21_00_REF_FINREP_3_0_11919_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11915_REF'%}">F_21_00_REF_FINREP_3_0_11915_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_11923_REF'%}">F_21_00_REF_FINREP_3_0_11923_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_21_00_REF_FINREP_3_0_113157_REF'%}">F_21_00_REF_FINREP_3_0_113157_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
