{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_31_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67732_REF'%}">F_31_01_REF_FINREP_3_0_67732_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67712_REF'%}">F_31_01_REF_FINREP_3_0_67712_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67746_REF'%}">F_31_01_REF_FINREP_3_0_67746_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67899_REF'%}">F_31_01_REF_FINREP_3_0_67899_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67907_REF'%}">F_31_01_REF_FINREP_3_0_67907_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67891_REF'%}">F_31_01_REF_FINREP_3_0_67891_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_39722_REF'%}">F_31_01_REF_FINREP_3_0_39722_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67827_REF'%}">F_31_01_REF_FINREP_3_0_67827_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67740_REF'%}">F_31_01_REF_FINREP_3_0_67740_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152153_REF'%}">F_31_01_REF_FINREP_3_0_152153_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_155949_REF'%}">F_31_01_REF_FINREP_3_0_155949_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152158_REF'%}">F_31_01_REF_FINREP_3_0_152158_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_234326_REF'%}">F_31_01_REF_FINREP_3_0_234326_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67728_REF'%}">F_31_01_REF_FINREP_3_0_67728_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67708_REF'%}">F_31_01_REF_FINREP_3_0_67708_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67742_REF'%}">F_31_01_REF_FINREP_3_0_67742_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67903_REF'%}">F_31_01_REF_FINREP_3_0_67903_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67895_REF'%}">F_31_01_REF_FINREP_3_0_67895_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67887_REF'%}">F_31_01_REF_FINREP_3_0_67887_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_39718_REF'%}">F_31_01_REF_FINREP_3_0_39718_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67823_REF'%}">F_31_01_REF_FINREP_3_0_67823_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67736_REF'%}">F_31_01_REF_FINREP_3_0_67736_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152149_REF'%}">F_31_01_REF_FINREP_3_0_152149_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_155945_REF'%}">F_31_01_REF_FINREP_3_0_155945_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152154_REF'%}">F_31_01_REF_FINREP_3_0_152154_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_234322_REF'%}">F_31_01_REF_FINREP_3_0_234322_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67729_REF'%}">F_31_01_REF_FINREP_3_0_67729_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67709_REF'%}">F_31_01_REF_FINREP_3_0_67709_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67743_REF'%}">F_31_01_REF_FINREP_3_0_67743_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67904_REF'%}">F_31_01_REF_FINREP_3_0_67904_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67896_REF'%}">F_31_01_REF_FINREP_3_0_67896_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67888_REF'%}">F_31_01_REF_FINREP_3_0_67888_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_39719_REF'%}">F_31_01_REF_FINREP_3_0_39719_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67824_REF'%}">F_31_01_REF_FINREP_3_0_67824_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67737_REF'%}">F_31_01_REF_FINREP_3_0_67737_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152150_REF'%}">F_31_01_REF_FINREP_3_0_152150_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_155946_REF'%}">F_31_01_REF_FINREP_3_0_155946_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152155_REF'%}">F_31_01_REF_FINREP_3_0_152155_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_234323_REF'%}">F_31_01_REF_FINREP_3_0_234323_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67731_REF'%}">F_31_01_REF_FINREP_3_0_67731_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67711_REF'%}">F_31_01_REF_FINREP_3_0_67711_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67745_REF'%}">F_31_01_REF_FINREP_3_0_67745_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67906_REF'%}">F_31_01_REF_FINREP_3_0_67906_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67898_REF'%}">F_31_01_REF_FINREP_3_0_67898_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67890_REF'%}">F_31_01_REF_FINREP_3_0_67890_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_39721_REF'%}">F_31_01_REF_FINREP_3_0_39721_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67826_REF'%}">F_31_01_REF_FINREP_3_0_67826_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67739_REF'%}">F_31_01_REF_FINREP_3_0_67739_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152152_REF'%}">F_31_01_REF_FINREP_3_0_152152_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_155948_REF'%}">F_31_01_REF_FINREP_3_0_155948_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152157_REF'%}">F_31_01_REF_FINREP_3_0_152157_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_234325_REF'%}">F_31_01_REF_FINREP_3_0_234325_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67730_REF'%}">F_31_01_REF_FINREP_3_0_67730_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67710_REF'%}">F_31_01_REF_FINREP_3_0_67710_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67744_REF'%}">F_31_01_REF_FINREP_3_0_67744_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67905_REF'%}">F_31_01_REF_FINREP_3_0_67905_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67897_REF'%}">F_31_01_REF_FINREP_3_0_67897_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67889_REF'%}">F_31_01_REF_FINREP_3_0_67889_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_39720_REF'%}">F_31_01_REF_FINREP_3_0_39720_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67825_REF'%}">F_31_01_REF_FINREP_3_0_67825_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_67738_REF'%}">F_31_01_REF_FINREP_3_0_67738_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152151_REF'%}">F_31_01_REF_FINREP_3_0_152151_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_155947_REF'%}">F_31_01_REF_FINREP_3_0_155947_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_152156_REF'%}">F_31_01_REF_FINREP_3_0_152156_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_31_01_REF_FINREP_3_0_234324_REF'%}">F_31_01_REF_FINREP_3_0_234324_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
