{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_41_02_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151162_REF'%}">F_41_02_REF_FINREP_3_0_151162_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151160_REF'%}">F_41_02_REF_FINREP_3_0_151160_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151164_REF'%}">F_41_02_REF_FINREP_3_0_151164_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151188_REF'%}">F_41_02_REF_FINREP_3_0_151188_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151184_REF'%}">F_41_02_REF_FINREP_3_0_151184_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151180_REF'%}">F_41_02_REF_FINREP_3_0_151180_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151192_REF'%}">F_41_02_REF_FINREP_3_0_151192_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151190_REF'%}">F_41_02_REF_FINREP_3_0_151190_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151186_REF'%}">F_41_02_REF_FINREP_3_0_151186_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151182_REF'%}">F_41_02_REF_FINREP_3_0_151182_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151194_REF'%}">F_41_02_REF_FINREP_3_0_151194_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151189_REF'%}">F_41_02_REF_FINREP_3_0_151189_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151185_REF'%}">F_41_02_REF_FINREP_3_0_151185_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151181_REF'%}">F_41_02_REF_FINREP_3_0_151181_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151193_REF'%}">F_41_02_REF_FINREP_3_0_151193_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151163_REF'%}">F_41_02_REF_FINREP_3_0_151163_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151161_REF'%}">F_41_02_REF_FINREP_3_0_151161_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151165_REF'%}">F_41_02_REF_FINREP_3_0_151165_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151191_REF'%}">F_41_02_REF_FINREP_3_0_151191_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151187_REF'%}">F_41_02_REF_FINREP_3_0_151187_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151183_REF'%}">F_41_02_REF_FINREP_3_0_151183_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_02_REF_FINREP_3_0_151195_REF'%}">F_41_02_REF_FINREP_3_0_151195_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
