{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_41_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11471_REF'%}">F_41_01_REF_FINREP_3_0_11471_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11470_REF'%}">F_41_01_REF_FINREP_3_0_11470_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11469_REF'%}">F_41_01_REF_FINREP_3_0_11469_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11472_REF'%}">F_41_01_REF_FINREP_3_0_11472_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152269_REF'%}">F_41_01_REF_FINREP_3_0_152269_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152268_REF'%}">F_41_01_REF_FINREP_3_0_152268_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152270_REF'%}">F_41_01_REF_FINREP_3_0_152270_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151669_REF'%}">F_41_01_REF_FINREP_3_0_151669_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151667_REF'%}">F_41_01_REF_FINREP_3_0_151667_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151670_REF'%}">F_41_01_REF_FINREP_3_0_151670_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152071_REF'%}">F_41_01_REF_FINREP_3_0_152071_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152070_REF'%}">F_41_01_REF_FINREP_3_0_152070_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152069_REF'%}">F_41_01_REF_FINREP_3_0_152069_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152072_REF'%}">F_41_01_REF_FINREP_3_0_152072_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151668_REF'%}">F_41_01_REF_FINREP_3_0_151668_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151863_REF'%}">F_41_01_REF_FINREP_3_0_151863_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151861_REF'%}">F_41_01_REF_FINREP_3_0_151861_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151862_REF'%}">F_41_01_REF_FINREP_3_0_151862_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151864_REF'%}">F_41_01_REF_FINREP_3_0_151864_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11467_REF'%}">F_41_01_REF_FINREP_3_0_11467_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11466_REF'%}">F_41_01_REF_FINREP_3_0_11466_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11465_REF'%}">F_41_01_REF_FINREP_3_0_11465_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11468_REF'%}">F_41_01_REF_FINREP_3_0_11468_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152266_REF'%}">F_41_01_REF_FINREP_3_0_152266_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152265_REF'%}">F_41_01_REF_FINREP_3_0_152265_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152267_REF'%}">F_41_01_REF_FINREP_3_0_152267_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151665_REF'%}">F_41_01_REF_FINREP_3_0_151665_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151663_REF'%}">F_41_01_REF_FINREP_3_0_151663_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151666_REF'%}">F_41_01_REF_FINREP_3_0_151666_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152067_REF'%}">F_41_01_REF_FINREP_3_0_152067_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152066_REF'%}">F_41_01_REF_FINREP_3_0_152066_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152065_REF'%}">F_41_01_REF_FINREP_3_0_152065_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152068_REF'%}">F_41_01_REF_FINREP_3_0_152068_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151664_REF'%}">F_41_01_REF_FINREP_3_0_151664_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151859_REF'%}">F_41_01_REF_FINREP_3_0_151859_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151858_REF'%}">F_41_01_REF_FINREP_3_0_151858_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151857_REF'%}">F_41_01_REF_FINREP_3_0_151857_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151860_REF'%}">F_41_01_REF_FINREP_3_0_151860_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11459_REF'%}">F_41_01_REF_FINREP_3_0_11459_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11458_REF'%}">F_41_01_REF_FINREP_3_0_11458_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11457_REF'%}">F_41_01_REF_FINREP_3_0_11457_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11460_REF'%}">F_41_01_REF_FINREP_3_0_11460_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152260_REF'%}">F_41_01_REF_FINREP_3_0_152260_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152259_REF'%}">F_41_01_REF_FINREP_3_0_152259_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152261_REF'%}">F_41_01_REF_FINREP_3_0_152261_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151657_REF'%}">F_41_01_REF_FINREP_3_0_151657_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151655_REF'%}">F_41_01_REF_FINREP_3_0_151655_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151658_REF'%}">F_41_01_REF_FINREP_3_0_151658_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152059_REF'%}">F_41_01_REF_FINREP_3_0_152059_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152058_REF'%}">F_41_01_REF_FINREP_3_0_152058_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152057_REF'%}">F_41_01_REF_FINREP_3_0_152057_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152060_REF'%}">F_41_01_REF_FINREP_3_0_152060_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151656_REF'%}">F_41_01_REF_FINREP_3_0_151656_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151851_REF'%}">F_41_01_REF_FINREP_3_0_151851_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151850_REF'%}">F_41_01_REF_FINREP_3_0_151850_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151849_REF'%}">F_41_01_REF_FINREP_3_0_151849_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151852_REF'%}">F_41_01_REF_FINREP_3_0_151852_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11463_REF'%}">F_41_01_REF_FINREP_3_0_11463_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11462_REF'%}">F_41_01_REF_FINREP_3_0_11462_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11461_REF'%}">F_41_01_REF_FINREP_3_0_11461_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_11464_REF'%}">F_41_01_REF_FINREP_3_0_11464_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152263_REF'%}">F_41_01_REF_FINREP_3_0_152263_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152262_REF'%}">F_41_01_REF_FINREP_3_0_152262_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152264_REF'%}">F_41_01_REF_FINREP_3_0_152264_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151661_REF'%}">F_41_01_REF_FINREP_3_0_151661_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151659_REF'%}">F_41_01_REF_FINREP_3_0_151659_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151662_REF'%}">F_41_01_REF_FINREP_3_0_151662_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152063_REF'%}">F_41_01_REF_FINREP_3_0_152063_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152062_REF'%}">F_41_01_REF_FINREP_3_0_152062_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152061_REF'%}">F_41_01_REF_FINREP_3_0_152061_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_152064_REF'%}">F_41_01_REF_FINREP_3_0_152064_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151660_REF'%}">F_41_01_REF_FINREP_3_0_151660_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151855_REF'%}">F_41_01_REF_FINREP_3_0_151855_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151854_REF'%}">F_41_01_REF_FINREP_3_0_151854_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151853_REF'%}">F_41_01_REF_FINREP_3_0_151853_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_41_01_REF_FINREP_3_0_151856_REF'%}">F_41_01_REF_FINREP_3_0_151856_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
