{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_42_00_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11922_REF'%}">F_42_00_REF_FINREP_3_0_11922_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11776_REF'%}">F_42_00_REF_FINREP_3_0_11776_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11933_REF'%}">F_42_00_REF_FINREP_3_0_11933_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11930_REF'%}">F_42_00_REF_FINREP_3_0_11930_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11787_REF'%}">F_42_00_REF_FINREP_3_0_11787_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11784_REF'%}">F_42_00_REF_FINREP_3_0_11784_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11918_REF'%}">F_42_00_REF_FINREP_3_0_11918_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_11914_REF'%}">F_42_00_REF_FINREP_3_0_11914_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_113155_REF'%}">F_42_00_REF_FINREP_3_0_113155_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441775_REF'%}">F_42_00_REF_FINREP_3_0_441775_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441827_REF'%}">F_42_00_REF_FINREP_3_0_441827_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441773_REF'%}">F_42_00_REF_FINREP_3_0_441773_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441777_REF'%}">F_42_00_REF_FINREP_3_0_441777_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441774_REF'%}">F_42_00_REF_FINREP_3_0_441774_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441768_REF'%}">F_42_00_REF_FINREP_3_0_441768_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441770_REF'%}">F_42_00_REF_FINREP_3_0_441770_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441769_REF'%}">F_42_00_REF_FINREP_3_0_441769_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441829_REF'%}">F_42_00_REF_FINREP_3_0_441829_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441772_REF'%}">F_42_00_REF_FINREP_3_0_441772_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441771_REF'%}">F_42_00_REF_FINREP_3_0_441771_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441776_REF'%}">F_42_00_REF_FINREP_3_0_441776_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_42_00_REF_FINREP_3_0_441828_REF'%}">F_42_00_REF_FINREP_3_0_441828_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
