{% extends 'base.html' %}

{% block content %}
<h1>Upload Join Configuration Files</h1>

<a href="{% url 'pybirdai:create_transformation_rules_configuration' %}">Back to Create Transformations Rules Configuration</a>

<p>Currently there are 3 configuration files, and ready made versions are available <a href="https://github.com/regcommunity/FreeBIRD/tree/main/joins_configuration">here</a> <br><br> Theses files are in_scope_reports_FINREP_REF.csv , join_for_product_ldm_definitions_FINREP_REF.csv , And join_for_product_to_reference_category_FINREP_REF.csv

Documentation on creating these files is to follow, basically they list the reports in scope, and show which tables are joined togther in the BIRD LDM  for each product used in reports (like debt securities used in Finrep) . We could also create a configuration file to show which BIRD IL tables are used for each product used in reports. <br><br>
    and then upload them by clicking the link below: <br><br>

</p>
   
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="joins_configuration_files" multiple>
    <button type="submit">Upload Files</button>
</form>

{% endblock %}